#contents{max-width: 1300px;}
.productlist_wrap{position: relative; width: 100%; padding-bottom: 40px; }
.productlist_wrap .productlist{display: flex; flex-flow: wrap; mar gin-bottom: 20px;}
.productlist_wrap .productlist .product{width: 23%; margin: 10px;}
.productlist_wrap .productlist .product a{text-align: center;}
.productlist_wrap .productlist .product a .pdt_thumb{position: relative; overflow: hidden; padding-bottom: 100%; }
.productlist_wrap .productlist .product a .pdt_thumb .img{background-image: url('');}
.productlist_wrap .productlist .product a .pdt_thumb .img,
.productlist_wrap .productlist .product a .pdt_thumb .hover-img{position: absolute; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; }
.productlist_wrap .productlist .product a .pdt_thumb .hover-img{visibility: hidden; opacity:0; background-image: url(''); z-index: 1; transition: 0.4s;}
.productlist_wrap .productlist .product a .pdt_thumb .img .thumb_label{position: absolute; left: 0; top: 0; width: 46px; height: 20px; background-image: url('images/ico_new.jpg'); background-repeat: no-repeat; background-size: cover; z-index: 2;}
.productlist_wrap .productlist .product a .pdt_thumb .quickshop{visibility: hidden; opacity:0; z-index: 99; position: absolute; top: 100%; width: 100%; background: rgba(255,255,255,0.5); border: 1px solid #777; transform: translate(0,0); transition:0.4s}
.productlist_wrap .productlist .product a .pdt_thumb .quickshop p{padding: 10px; font-size: 13px; font-weight: bold; color: #000;}
.productlist_wrap .productlist .product a .pdt_thumb .btn_like{visibility: hidden; opacity: 0; position: absolute; right: 10px; top: 10px; z-index: 2; transition: 0.4s; }
.productlist_wrap .productlist .product a .pdt_thumb .btn_like span{display: block; width: 25px; height: 25px; }
.productlist_wrap .productlist .product a .pdt_thumb .btn_like span img{width: 100%; height: 100%;}
.productlist_wrap .productlist .product a .pdt_thumb .btn_like .fill{display: none;}

/* addClass on */
.productlist_wrap .productlist .product.on a .pdt_thumb .hover-img{visibility: inherit; opacity:1; }
.productlist_wrap .productlist .product.on a .pdt_thumb .quickshop{visibility: inherit; opacity:1; transform: translate(0,-100%);}
.productlist_wrap .productlist .product.on a .pdt_thumb .btn_like{visibility: inherit; opacity: 1; }

.productlist_wrap .productlist .product a .pdt_info{margin-top: 20px;}
.productlist_wrap .productlist .product a .pdt_info .vegan{height: 10px; margin-bottom: 15px; background-image: url('images/ico_vegan.png'); background-position: center; background-repeat: no-repeat; background-size: auto 100%; }
.productlist_wrap .productlist .product a .pdt_info .info_brand{}
.productlist_wrap .productlist .product a .pdt_info .info_brand h3{font-size: 12px; font-weight: bold;}
.productlist_wrap .productlist .product a .pdt_info .info_name{padding: 5px 0;}
.productlist_wrap .productlist .product a .pdt_info .info_name h3{font-size: 13px; font-weight: bold;}
.productlist_wrap .productlist .product a .pdt_info .info_price{}
.productlist_wrap .productlist .product a .pdt_info .info_price h3{display: flex; justify-content: center;}
.productlist_wrap .productlist .product a .pdt_info .info_price h3 p{font-size: 14px; font-weight: bold;}
.productlist_wrap .productlist .product a .pdt_info .info_price h3 del{margin: 0 5px; font-size: 12px; color: #747474; }
.productlist_wrap .productlist .product a .pdt_info .info_price h3 .dc{font-size: 14px; color: #0076cf; font-weight: bold;}
.productlist_wrap .productlist .product a .pdt_review{margin: 3px 0;}
.productlist_wrap .productlist .product a .pdt_review .rating{display: flex; justify-content: center; font-size: 0;}
.productlist_wrap .productlist .product a .pdt_review .rating .stars{padding-right: 5px;}
.productlist_wrap .productlist .product a .pdt_review .rating .stars span{display: inline-block; max-width: 15px;}
.productlist_wrap .productlist .product a .pdt_review .rating .stars span img{max-width: 100%;}
.productlist_wrap .productlist .product a .pdt_review .count{}
.productlist_wrap .productlist .product a .pdt_review .count span{font-size: 11px; font-weight: bold;}
.productlist_wrap .productlist .product a .pdt_label{margin-top: 15px;}
.productlist_wrap .productlist .product a .pdt_label .disignated_label{margin-bottom: 7px;}
.productlist_wrap .productlist .product a .pdt_label .disignated_label::after{display: inline-block; content:"out of stock"; padding: 3px 5px; border: 1px solid #000; font-size: 11px; font-weight: bold; text-transform: uppercase;} 
.productlist_wrap .productlist .product a .pdt_label .custom_label{display: inline-block; padding: 2px 10px; border: 1px solid #bfbfbf; font-size: 12px; font-weight: bold;}

/* popup */
.pop_quickshop_zone{display: none;}
.pop_quickshop_zone .pop_quick_area{}
.pop_quickshop_zone .pop_quick_area .pop_bg{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7);}
.pop_quickshop_zone .pop_quick_area .pop_quick_wrap{position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%);  z-index: 99 ; width: 750px; height: 430px;}
.pop_quickshop_zone .pop_quick_area .pop_quick_wrap .inner{display: flex;  height: 100%; padding: 30px; background: #fff; border: 1px solid #000;}
/* 슬라이드 */
.pop_quick_wrap .slider_wrap{ 
    /* width: 45%;  */
    width: 300px;
    margin-right: 40px;
}
.pop_quick_wrap .slider_wrap .top_slide_area{position: relative; width: 100%;  height:80%; margin-bottom: 10px;}
.pop_quick_wrap .slider_wrap .top_slide_area .top_slide{height: 100%;}
.pop_quick_wrap .slider_wrap .top_slide_area .top_slide .bit_img{width: 100%; margin-bottom: 10px; }
.pop_quick_wrap .slider_wrap .top_slide_area .top_slide .big_img img{max-width: 100%;}
/* 좌우 버튼 */
.pop_quick_wrap .slider_wrap .top_slide_area .swiper-button-prev,
.pop_quick_wrap .slider_wrap .swiper-button-next{position: absolute; top: 50%; transform: translateY(-50%); font-weight: bold; color: #000;}
.pop_quick_wrap .slider_wrap .top_slide_area .top_slide .big_img img{max-width: 100%;}
.pop_quick_wrap .slider_wrap .top_slide_area .swiper-button-prev:after,
.pop_quick_wrap .slider_wrap .top_slide_area .swiper-button-next:after{font-size: 18px;}

/* .pop_quick_wrap .slider_wrap .bottom_slide_area{width: 20%; margin-right: 10px; height: 50px;  } */
.pop_quick_wrap .slider_wrap .bottom_slide_area .bottom_slide .small_img img{width: 100%;}

.pop_quick_wrap .slider_wrap .bottom_slide_area .bottom_slide .swiper-slide-thumb-active{border: 1px solid rgb(145, 145, 145);}


.pop_quick_wrap .pop_close{cursor: pointer;}

/* info */
.pop_quick_wrap .info_wrap{position: relative; width: 55%;}
.pop_quick_wrap .info_wrap .txt_area{}
.pop_quick_wrap .info_wrap .txt_area .info_brand{margin-bottom: 10px;}
.pop_quick_wrap .info_wrap .txt_area .info_brand h3{font-weight: bold; font-size: 13px;}
.pop_quick_wrap .info_wrap .txt_area .info_name{margin-bottom: 10px;}
.pop_quick_wrap .info_wrap .txt_area .info_name h3{font-weight: bold; font-size: 16px;}
.pop_quick_wrap .info_wrap .txt_area .rating{margin-bottom: 10px;}
.pop_quick_wrap .info_wrap .txt_area .rating .count span{}
.pop_quick_wrap .info_wrap .txt_area .info_price{margin-bottom: 10px;}
.pop_quick_wrap .info_wrap .txt_area .info_price h3{display: flex; }
.pop_quick_wrap .info_wrap .txt_area .info_price h3 p{font-weight: bold; font-size: 14px; margin-right: 10px;}
.pop_quick_wrap .info_wrap .txt_area .info_price h3 del{margin-right: 10px; font-size: 12px; color: gray;}
.pop_quick_wrap .info_wrap .txt_area .info_price h3 .dc{color: #0076cf;}
.pop_quick_wrap .info_wrap .txt_area .info_description{margin-bottom: 20px;}
.pop_quick_wrap .info_wrap .txt_area .info_description p{font-weight: bold; font-size: 13px;}
.pop_quick_wrap .info_wrap .txt_area .view_detail{}
.pop_quick_wrap .info_wrap .txt_area .view_detail a{font-weight: bold; font-size: 12px; color: #0076cf; text-decoration: underline;}

/* 인포- 폼 */
.pop_quick_wrap .info_wrap .form_area{position: absolute; left: 0; bottom: 0; width: 100%;}
.pop_quick_wrap .info_wrap .form_area .select_wrap{}
.pop_quick_wrap .info_wrap .form_area .select_wrap form{}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect{display: flex; margin-bottom: 10px;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected{position: relative;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected.select_pdt{width: 70%; margin-right: 10px;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected.select_num{width: 30%;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected a{display: block; width: 100%; padding: 9px 10px; border: 1px solid #000;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected a span{display: block; background-image: url(images/btn_hide.png); background-position: right 6px; background-repeat: no-repeat; background-size: 14px;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected .options{display: none; position: absolute; width: 100%; margin-top: -1px;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected .options li{}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected .options li.active a{color: blue}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected .options li a{font-size: 14px; background: #fff;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .popselect .selected select{position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; opacity:0}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap{display: flex;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap div button{display: block; width: 100%; padding: 9px 10px; border-style: none; border: 1px solid #000;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap .add_to_cart{width: 70%; margin-right: 10px;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap .add_to_cart button{}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap .add_to_cart .btn_addcart{background: #000; color: #fff; border: 1px solid #000;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap .wishlist{width: 30%;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap .wishlist .btn_wish{display: flex; font-size: 12px;}
.pop_quick_wrap .info_wrap .form_area .select_wrap form .btn_wrap .wishlist .btn_wish span{display: inline-block; width: 14px; height: 14px; margin-right: 5px; background: url(images/ico_like.svg) 0 0 no-repeat;}

/* 닫기 */
.pop_quick_wrap .pop_close{position: absolute; right: 31px; top: 35px; }
.pop_quick_wrap .pop_close img{}


/* pagenav */
.pagenavi_wrap{margin: 50px;}
.pagenavi_wrap .pagenav{}
.pagenavi_wrap .pagenav ul{display: flex; margin: 0 auto; width: 300px}
.pagenavi_wrap .pagenav ul li{}
.pagenavi_wrap .pagenav ul li a{display: block; margin: 0 5px; font-size: 20px; color: gray; }
.pagenavi_wrap .pagenav ul li.active a{font-weight: bold;  color: #000;}
